---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/base.css";
import type { Project } from "../types";
import Projects from "../components/Projects.astro";
import { Icon } from "astro-icon/components";
import CuriosMouse from "../components/curiosMouse.svelte";

const rows = ["Languages: TypeScript, C, Java", "And more..."];

const interests: { title: string; hint?: string }[] = [
  { title: "Programming 💻", hint: "Obviously" },
  { title: "Finance 🪙", hint: "I'm not a guru" },
  { title: "Self-growth 🧘", hint: "Like most people" },
];

const workingProjects: Project[] = [
  {
    title: "The Bivacchio",
    link: "bivacchio",
    technologies: {
      fronted: ["svelte"],
    },
  },
];

const finishedProjects: Project[] = [
  { title: "Gruppo edoArdo immobiliare", link: "gruppo-edoardo" },
  { title: "Nadia Pagliuca pscicologo", link: "nadia" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <CuriosMouse client:load />
    <main class="m-auto min-h-[75vh] w-[80%] py-10 lg:w-[50%]">
      <div class="mb-10 flex flex-col gap-5 md:flex-row md:gap-0">
        <div>
          <img
            src="https://github.com/Proibito04.png "
            alt="profile image"
            class="m-auto min-h-[150px] w-44 rounded-full md:w-[50%] pannocchia"
          />
        </div>
        <div>
          <h1>{SITE_TITLE}</h1>
          <div class="py-1">
            {rows.map((el) => <p>{el}</p>)}
          </div>
        </div>
      </div>

      <div>
        <!-- not ready yet -->
        <!-- <h2 class="mb-2">My Interests</h2>
    <div class="flex flex-wrap gap-5">
      {
        interests.map((interest) => (
          <div class="relative  w-full flex-grow basis-[100%] rounded bg-[#183324] text-center shadow-md md:basis-0">
            <a
              class="flex flex-col px-4 py-7 text-white no-underline"
              href="."
            >
              <span class="text-md">{interest.title}</span>
              <span class="text-xs text-gray-400">{interest.hint}</span>
            </a>

          </div>
        ))
      }
    </div> -->
      </div>

      <div class="my-5">
        <h2>My Diary</h2>
        <p class="mb-2">The collection of my posts</p>
        <div
          class="relative w-full flex-grow basis-[100%] rounded bg-[#183324] text-center shadow-md md:basis-0 pannocchia"
        >
          <a
            class="flex flex-col px-4 py-7 text-white no-underline"
            href="./diary"
          >
            <span class="text-md">Diary</span>
          </a>
        </div>
      </div>

      <!-- <div class="my-5">
    <h2 class="mb-2">Discover the terminal!</h2>
    <Terminal client:load />
  </div> -->

      <!-- My project -->
      <div class="my-5">
        <h2>My Projects</h2>
        <p class="my-2">
          A collection of my projects to give you insight into my work process,
          the frameworks I've used, and the steps I took to achieve the final
          results.
        </p>
        <div>
          {
            [
              { text: "Currently Working", project: workingProjects },
              { text: "Finished", project: finishedProjects },
            ].map((project) => <Projects project={project} />)
          }
        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>
