---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import "../styles/base.css";
import Terminal from "../components/terminal/terminal.svelte";

const rows = ["Languages: typescript, C, Java", "somethings more..."];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="m-auto min-h-[75vh] w-[80%] flex-col gap-5 py-10 md:w-[50%]">
      <div class="flex md:flex-row md:gap-0">
        <div>
          <img
            src="https://github.com/Proibito.png "
            alt="profile image"
            class="text-md m-auto rounded-full md:w-[50%]"
          />
        </div>
        <div>
          <h1>{SITE_TITLE}</h1>
          <div class="py-1">
            {rows.map((el) => <p>{el}</p>)}
          </div>
        </div>
      </div>
      <Terminal client:idle />
    </main>
    <Footer />
  </body>
</html>
